@use './tokens';
@use './reset';

html {
  color-scheme: dark;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-md);
  color: var(--color-text);
  background-color: var(--color-bg);
}

#root {
  min-height: 100vh;
}

// Utility: visually hide but keep accessible to screen readers.
.visually-hidden {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  clip-path: inset(50%);
}
